{% extends 'base.html.twig' %}

{% block title %}Confirmation de la Commande{% endblock %}

{% block body %}
    <h1>Confirmation de la Commande</h1>

    <p>Merci pour votre commande, {{ user.firstName }} ! Voici les détails de votre commande :</p>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for article in order.items %}
                <tr>
                    <td>{{ article.accessoire.nom }}</td>
                    <td>{{ article.quantite }}</td>
                    <td>{{ article.accessoire.prix }} €</td>
                    <td>{{ article.accessoire.prix * article.quantite }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><strong>Total de la commande : </strong> {{ orderTotal }} €</p>

    <p>Votre commande sera traitée sous peu. Vous recevrez un e-mail de confirmation.</p>
{% endblock %}
